/* .titulo{

	color: white;
	text-align: center;
	font-size: 45px;
	background-color: rgb(175, 67, 43);
	margin: 0px;
	font-family: georgia;
}

a{
	color: black;
	text-decoration: none;
}


a:hover {

	color: darkred;
}

header{background-color: black;

}

nav {

	text-align: center;
	border: 5px solid

}

nav ul{

	list-style: none;
	display: inline-block;
	padding: 20px;
	background-color: black;


}

nav ul li{

	float: left;
	
}

nav ul li a{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 30px;
	padding: 18px;
	font-weight: 100;
}

h2{    

	text-align: center;
	font-size: 40px;

}

.logosredes {
	text-align: center;
}

.logosredes img{

	position: relative;
}

.logosredes a{
	margin: 0 40px;
}

.centerbody{
	text-align: center;
}

.tabla{
	display: inline-block;
	text-align: center;
	font-weight: ;

}

.nuestra_pagina{
	text-align: center;
}

.destacados img{

	padding: 10px;
	
} */

* {
	margin: 0;
	padding: 0;
}

.contenedorGrid {
	display: grid;
	grid-template-areas:
		"header header"
		"nuestraPagina tabla"
		"hotelesDestacados hotelesDestacados"
		"footer footer";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.4fr 1fr 1fr 0.3fr;
	width: 100vw;
	height: 100vh;
}

header {
	grid-area: header;
	background-color: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: #FFF;
	border: 7px solid #000;
}

.h1header {
	width: 100%;
	text-align: center;
	background-color: rgb(175, 67, 43);
}

.h1header h1 {
	font-size: 35px;
	font-family: georgia;
}

nav {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

nav ul {
	list-style: none;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

li a {
	color: #FFF;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	font-weight: 100;
}

li a:hover {
	color: darkred;
}



.contNuestraPagina {
	padding: 0 5%;
	grid-area: nuestraPagina;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tabla {
	grid-area: tabla;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 5%;
}

.hotelesDestacados {
	grid-area: hotelesDestacados;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(32, 32, 32);
	color: #FFF;
}

.destacados {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-self: center;
	margin-top: 20px;
}

footer {
	grid-area: footer;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* INICIO ESTILOS MIS DATOS */

.contMisDatos{
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-areas: 
	"header"
	"datosPersonales"
	"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 2fr 0.3fr;
}

.datosPersonales{
	grid-area: datosPersonales;
	width: 80%;
	justify-self: center;
}

.datosPersonales form fieldset{
	width: 100%;
}

/* FIN ESTILOS MIS DATOS */

/* INICIO ESTILOS MI CUENTA */

.contMiCuenta {
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-areas: 
	"header"
	"cuenta"
	"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 2fr 0.3fr;
}

fieldset{
	align-self: center;
	justify-self: center;
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 45%;
	align-items: center;
}

fieldset div{
	height: 100px;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

fieldset div label{
	font-size: 25px;
	margin: 10px 0;
}

fieldset div input{
	height: 80%;
	width: 90%;
}

fieldset button{
	height: 35px;
	width: 100px;
	margin-top: 20px;
}


/* FIN ESTILOS MI CUENTA */

/* INICIO ESTILOS MIS RESERVAS */

.contMisReservas{
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-areas: 
	"header"
	"reservas"
	"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 2fr 0.3fr;
}

.reservas{
	grid-area: reservas;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* FIN ESTILOS MIS RESERVAS */

/* INICIO ESTILOS SOBRE NOSOTROS */

.contSobreNosotros{
	display: grid;
	width: 100vw;
	height: 100vh;
	grid-template-areas: 
	"header"
	"sobreNosotros"
	"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 0.4fr 2fr 0.3fr;
}

.sobreNosotros{
	grid-area: sobreNosotros;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* FIN ESTILOS SOBRE NOSOTROS */